*.mlmodelc/
*.mlpackage/
*.bin
*.mil
*.json
model-place/
CoreApplication-RAG/minilm.mlpackage/
CoreApplication-RAG/StatefulMistral7BInstructInt4.mlmodelc/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
DerivedData/
build/
.DS_Store
.swiftpm/
Package.resolved
*.log
*.xcdebugger/
ß